.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 18px;

    width: 95%;
    margin: 0 auto;
    padding: 20px;

    background: #ffffff;
    border: 1px solid rgba(212, 160, 23, .15);
    border-radius: 20px;

    box-shadow: 0 15px 35px rgba(0,0,0,.08);
    transition: all .3s ease;
}

.mobile-menu.show {
    display: flex;
}

.mobile-menu a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    padding: 14px 16px;
    border-radius: 12px;
    transition: .3s;
}

.mobile-menu a:hover {
    background: rgba(212, 160, 23, .1);
    color: #d4a017;
    transform: translateX(6px);
    text-decoration: underline;
}

.dark-theme .mobile-menu {
    background: rgba(20,20,20,.95);
    backdrop-filter: blur(14px);

    border: 1px solid rgba(212,160,23,.25);

    box-shadow:
        0 20px 40px rgba(0,0,0,.45);
}

.dark-theme .mobile-menu a {
    color: #f5f5f5;
}

.dark-theme .mobile-menu a:hover {
    background: rgba(212,160,23,.15);
    color: #f4d06f;
}

.profile-dropdown {
    position: absolute;
    top: 55px;
    right: -130px;

    width: 280px;
    padding: 20px;

    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(14px);

    border: 1px solid rgba(212, 160, 23, .15);
    border-radius: 18px;

    box-shadow:
        0 15px 35px rgba(0, 0, 0, .08);

    display: none;
    z-index: 1000;
}

.profile-header{
    background: rgba(63, 72, 87, 0.048);
    width: 200px;
    border-radius: 10px;
    padding: 6px;

}

.profile-dropdown p {
    color: #888;
    font-size: 14px;
    margin-bottom: 8px;
}

.profile-dropdown span {
    display: block;
    color: #222;
    font-weight: 600;
    margin-bottom: 20px;

    word-break: break-word;
}


.dark-theme .profile-dropdown {
    background: rgba(20, 20, 20, 0.95);
    backdrop-filter: blur(14px);

    border: 1px solid rgba(212, 160, 23, .25);

    box-shadow:
        0 20px 40px rgba(0, 0, 0, .45);
}

.dark-theme .profile-dropdown p {
    color: #aaa;
}

.dark-theme .profile-dropdown span {
    color: #fff;
}

.dark-theme #profileEmail {
    color: white;
}

#logoutBtn {
    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 12px;

    background:
        linear-gradient(to right,
        #d4a017,
        #f4d06f);

    color: #111;
    font-weight: 600;
    cursor: pointer;

    transition: .3s;
}

#logoutBtn:hover {
    transform: translateY(-2px);
    box-shadow:
        0 10px 25px rgba(212, 160, 23, .25);
}


.dark-theme #logoutBtn:hover {
    box-shadow:
        0 10px 25px rgba(244, 208, 111, .2);
}

